
.nav-form-login {
    padding: 0 !important;
}

/* modal close */
.btn-close {
    font-size: 20px !important;
    border: none;
    background-color: transparent;
    padding: 0 2px 0 2px;
    cursor: pointer;
}
.btn-close:hover {
    background-color: red;
    color: #fff;
}

/* card (draw)*/
.card .card-text {
    margin: 20px 0 20px 0;
}

