<div id="details">
      <div class="note">
        <i>Shift+Drag to totate</i>
      </div>

      <div class="coordinate">
        <div class="about">EPSG: 4326, {X,Y}:</div>
        <div id="mouse-position"></div>
      </div>

      <div id="track-position">
          <div class="about">track position</div>
          <input type="checkbox" id="track">
          <div class="about" id="error"></div>
      </div>
    </div>